# www-data crontab file
#--------------------------------------------------
# min,hour,dayOfMonth,month,dayOfWeek command
#
# field          allowed values
# -----          --------------
# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12
# day of week    0-7 (0 or 7 is Sunday)
#
#--------------------------------------------------

# Clean the old tasks and old logs
0   2 * * * {{MAIN_FOLDER}}/bin/console spipu:process:cron-manager cleanup >> {{MAIN_FOLDER}}/var/log/cron.log 2>&1
*/5 * * * * {{MAIN_FOLDER}}/bin/console spipu:process:cron-manager rerun   >> {{MAIN_FOLDER}}/var/log/cron.log 2>&1
